Repository chwee/RAG_LearningAssistance, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Test, Type: CI, Scope: Utils, Scope: Decorator

ci(release): Add release drafter
  .github/release-drafter.yml
  .github/workflows/draft-release-tag.yml
Labels: Type: CI

chore: Add codeowners
  .github/CODEOWNERS
Labels: none

docs: Add CoC
  .github/CODE_OF_CONDUCT.md
Labels: none

test: Add testing with pytest
  .github/workflows/test-worker.yml
  requirements-dev.txt
  tests/test_placeholder.py
Labels: Type: Test, Type: CI

ci(linting: Add linting with ruff
  .github/workflows/linter.yml
  requirements-dev.txt
Labels: Type: CI

style: Conform to linting
  appLB.py
Labels: none

style(config): Add ruff config
  ruff.toml
Labels: none

style: Conform to linting (and resolve linting errors)
  appLB.py
Labels: none

chore(makefile): WIP
  Makefile
Labels: none

chore(makefil): Update default help msg
  Makefile
Labels: none

chore(makefile): Install python dev requirements
  Makefile
Labels: none

refactor: Do not allow setting None as key
  appLB.py
Labels: none

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, .github/**, "./*.{md,mdx}"]
      - all-globs-to-all-files: "!.github/workflows/*"

"Type: Test":
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

"Type: CI":
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

"Scope: Core":
  - changed-files:
      - any-glob-to-any-file: [src/**]
        all-globs-to-all-files:
          ["!src/thread/decorators/*", "!src/thread/utils/*"]

"Scope: Utils":
  - changed-files:
      - any-glob-to-any-file: ["src/thread/utils/*"]

"Scope: Decorator":
  - changed-files:
      - any-glob-to-any-file: ["src/thread/decorators/*"]
